{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <h2>About</h2>
        <p>Hi! My name is Aricin Rotarius.</p>
        <p>I'm a computer science student at the University of Wisconsin-Madison.</p>
        <p>This blog is a personal project that was intended to improve my knowledge of Django.</p>
        <p>In the process, I learned the following:</p>
        <ul>
            <li>Django's MVT architecture</li>
            <li>Function vs Class based views</li>
            <li>Forms</li>
            <li>User authentication</li>
            <li>AWS integration</li>
            <li>Deploying with Heroku</li>
        </ul>
    </div>
{% endblock content %}